@charset "UTF-8";
/* 입고관리 */
/* boardcss_list 에서 사용하는 글 목록 테이블 크기*/

.boardcss_list_table { 
	position:absolute;
	height:400px;
	width: 90%; 
	top:50px;
	left:5%;
	border-top: 1px solid #8BBDFF;
	border-bottom: 1px solid #8BBDFF; 
	}
/* 화면에 보여지는 글 목록 테이블 */
.list_table { 
	position: absolute;
	top:50px;
	left:5%;
	width:90%;
	font-size: 0.7rem;
	}
/* list_table 에서 사용되는 thead */
.list_table thead th { 
	text-align: center; 
	border-top: 1px solid #ABABAB;
	border-bottom: 1px solid #ABABAB; 
	padding: 8px 0; 
	background: #faf9fa; 
	}
.list_table tbody td { 
	text-align: center;  
	border-bottom: 1px solid #ABABAB; 
	padding: 5px 0; 
	}
.page{
	position: absolute;
	top:93%;
	left:45%;
}
.find{
	position: absolute;
	right:5%;
	top:10px;
}

.inboundtext1{
	position: absolute;
	left:5%;
	top:10px;
}

.inboundinput{
	position: absolute;
	height:400px;
	width: 90%; 
	top:470px;
	left:5%;
	border-top: 1px solid #8BBDFF; 
	border-bottom: 1px solid #8BBDFF; 
}

.inboundtext2{
	position:absolute;
	left:5%;
	top:10px;
}

.textbox1 {
	position: absolute;
	border-top: 1px solid #ABABAB;
	border-bottom: 1px solid #ABABAB; 
	top:10%;
	left:5%;
	height:10%;
	width: 90%;
	line-height: 40px;
	display: block;
    text-align: center;
} 

.textbox2 {
	position: absolute;
	border-bottom: 1px solid #ABABAB;
	top:20%;
	left:5%; 
	height:10%;
	width: 90%;
	line-height: 40px;
	display: block;
} 

.label_inname{
	position: absolute;
	top:50px;
	left:100px;
	font-size: 1.0rem;
}

.label_incategory{
	position: absolute;
	top:100px;
	left:100px;
	font-size: 1.0rem;
}

#select_category{
	position: absolute;
	top:100px;
	left:300px;
}

.label_insize{
	position: absolute;
	top:150px;
	left:450px;
	font-size: 1.0rem;
}

#select_size{
	position: absolute;
	top:150px;
	left:595px;
}

.label_incolor{
	position: absolute;
	top:150px;
	left:100px;
	font-size: 1.0rem;
}


#select_color{
	position: absolute;
	top:150px;
	left:300px;
}

.label_indate{
	position: absolute;
	top:200px;
	left:100px;
	font-size: 1.0rem;
}

.label_inprice{
	position: absolute;
	top:200px;
	left:450px;
	font-size: 1.0rem;
}


.label_inamount{
	position: absolute;
	top:100px;
	left:450px;
	font-size: 1.0rem;
}

.inboundlist_table{
	position: absolute;
	top:10px;
	left:5%;
}

#insertbtn{
	position: absolute;
	top:300px;
	left:300px;
}

.inboundtext3{
	position:absolute;
	left:55%;
	top:10px;
}

#columnchart_material{
	position: absolute;
	top:50px;
	left:55%;
	width: 700px; 
	height: 300px;
}
